.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.mainpost__container {
  width: 62%;
  height: 671px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.star__container {
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.star__img {
  width: 18px;
  height: 18px;
  background-image: url(../img/star.png);
  background-size: cover;
}
.star__container h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}
.mainpost__title {
  font-weight: 600;
  font-size: 32px;
  color: rgba(0, 0, 0, 1);
  line-height: 38px;
  text-align: center;
}
.mainpost__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #7f7f7f;
}
.mainpost__info__container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.info__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #7f7f7f;
}
.info__author {
  width: 104px;
  height: 34px;
  border: 1px solid #7f7f7f;
  border-radius: 99px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.author__img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #7f7f7f;
}
.author__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.mainpost__img {
  background-image: url(../img/mainpost.png);
  background-size: cover;
  width: 100%;
  height: 339px;
}
.mainpost__share__container {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.share__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.share__img {
  width: 23px;
  height: 23px;
  background-size: cover;
  cursor: pointer;
}
.facebook__img {
  background-image: url(../img/facebook.png);
}
.twiter__img {
  background-image: url(../img/Twiter.png);
}
.youtube__img {
  background-image: url(../img/youtube.png);
}
.posts__container {
  width: 90%;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #d6d6d6;
  border-radius: 24px;
  background-color: #fff;
  margin-bottom: 50px;
}
.post {
  width: 246px;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  cursor: pointer;
}
.img__post {
  background-color: #d6d6d6 !important;
  width: 246px !important;
  height: 136px !important;
}
.text__limit__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-weight: 600 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  color: #000 !important;
}
.text__limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #7f7f7f !important;
}
